@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    margin: 0;
    font-family: 'PT Sans', sans-serif;
}

.bgimg {
    background-image: url("images/b-texture.png");
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    position: relative;
}

.title-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #6C22B8;
    font-size: 3em;
}

.container {
    font-size: 100%;
    line-height: 1.5;
    font-size: 1.2em;
}

.container-bgimg {
    background-image: url("images/glass-texture.png");
    background-position: center;
    background-size: cover;
}

.container-big {
    width: 100%;
    height: 100vh;
    position: relative;
    font-size: 1.5em;
}

.centered-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -55%)
}

#about-info h2 {
    margin-top: 0px;
}

#exhibition-info {
    width: 80vw;
    margin: auto;
    padding: 100px 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    text-align: center;
}

#nac-link {
    text-align: center;
}

#zoom-link {
    text-align: center;
}

.zoom-link-button {
    background-color: #6C22B8;
    padding: 10px;
}

.zoom-link-button a {
    text-decoration: none;
    color: white;
}

#art-section-title {
    margin-top: 120px;
    margin-bottom: 80px;
    text-align: center;
}

#grid-artist-gallery {
    width: 80vw;
    margin: 0 auto 180px auto;
    padding: 20px 20px;

    display: grid;
    grid-gap: 40px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.artist-link {
    background-image: url(images/b-texture.png);
    width: 100%;
    padding-top: 100%; /* 1:1 Aspect Ratio */
    position: relative; /* If you want text inside of it */
}

.artist-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    color: #ffffff;
    text-align: center;
}

#credits {
    padding: 40px;
}

div p.credit {
    text-align: center;
}

