@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "PT Sans", sans-serif;
}

.bgimg {
  background-image: url("images/b-texture.png");
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  position: relative;
}

.title-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #6c22b8;
  font-size: 3em;
}

.container {
  font-size: 100%;
  line-height: 1.5;
  font-size: 1.2em;
}

.container-bgimg {
  background-image: url("images/glass-texture.png");
  background-position: center;
  background-size: cover;
}

.container-big {
  width: 100%;
  height: 100vh;
  position: relative;
  font-size: 1.5em;
}

.centered-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -55%);
}

#about-info h2 {
  margin-top: 0px;
}

#exhibition-info {
  width: 80vw;
  margin: auto;
  padding: 100px 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto;
  text-align: center;
}

#nac-link {
  text-align: center;
}

#zoom-link {
  text-align: center;
}

.zoom-link-button {
  background-color: #6c22b8;
  padding: 10px;
}

.zoom-link-button a {
  text-decoration: none;
  color: white;
}

.not-active {
  pointer-events: none;
  cursor: default;
}

#art-section-title {
  margin-top: 120px;
  margin-bottom: 80px;
  text-align: center;
}

#grid-artist-gallery {
  width: 80vw;
  margin: 0 auto 180px auto;
  padding: 20px 20px;

  display: grid;
  grid-gap: 40px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.artist-link {
  background-image: url(images/b-texture.png);
  width: 100%;
  padding-top: 100%; /* 1:1 Aspect Ratio */
  position: relative; /* If you want text inside of it */
}

.artist-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  color: #ffffff;
  text-align: center;
}

#credits {
  padding: 40px;
}

div p.credit {
  text-align: center;
}

/* new flexible layouts by brian */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgba(51, 51, 51, 0.5);
  position: sticky;
  top: 0;
}

li {
  float: left;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: rgba(51, 51, 51, 0.5);
}

.flexible-block {
  display: flex;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  padding-top: 90px;
  padding-bottom: 90px;
  min-height: 450px;
  align-items: center;
  justify-content: center;
}

.flexible-block:not(.wbg) {
  background-color: #fff;
}

.flexible-block.wbg {
  background-color: transparent;
  background-size: cover;
  background-position: center;
  background-size: cover;
}

.flexible-block.flexv {
  flex-flow: column wrap;
}

.flexible-block.flexh {
  flex-flow: row wrap;
}

.flexible-container {
  display: block;
  width: 100%;
  max-width: 1600px;
  box-sizing: border-box;
}

.nac_header {
  display: flex;
  width: 100%;
  background-color: #fff;
  height: auto;
  min-height: 75vh;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  background-image: url("images/b-texture.png");
  background-position: center center;
  background-size: cover;
  padding-top: 70px;
  padding-bottom: 70px;
}

.nac_header h1 {
  display: block;
  width: 100%;
  text-align: center;
  color: #6c22b8;
  font-weight: 700;
}

.nac_subsection_title {
  margin-top: 0;
  margin-bottom: 25px;
  font-size: 42px;
  line-height: 44px;
  font-weight: 700;
  color: #222;
}

.nac_subsection_subtitle {
  font-size: 26px;
  line-height: 30px;
  color: #222;
  font-weight: 400;
}

.nac_subsection_bodytext {
  margin-top: 0;
  margin-bottom: 15px;
  font-size: 16px;
  line-height: 25px;
  color: #555;
}

.nac_text_center {
  text-align: center;
}

.nac_double_button {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.nac_double_button .nac_standard_button {
  margin-right: 7px;
  margin-bottom: 7px;
}

.nac_standard_button {
  display: inline-block;
  padding: 15px;
  padding-right: 25px;
  padding-left: 25px;
  background-color: #6c22b8;
  color: #fff;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.7px;
}

.nac_standard_button:hover,
.nac_standard_button:active,
.nac_standard_button:focus {
  opacity: 0.8;
}

.nac_bg_1 {
  background-image: url("images/glass-texture.png");
}

.nac_artwork_grid {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
}

.nac_artwork_grid a {
  display: inline-block;
  background-color: #000;
  margin: 7px;
  position: relative;
  color: #fff;
  background-size: cover;
  background-position: center center;
  background-image: url(images/b-texture.png);
}

.nac_artwork_grid a:hover,
.nac_artwork_grid a:active,
.nac_artwork_grid a:focus {
  opacity: 0.7;
}

.nac_artwork_grid a h3 {
  display: inline-block;
  margin-top: 0;
  font-size: 20px;
  line-height: 22px;
  text-align: center;
  margin-bottom: 15px;
}

.nac_artwork_grid a p {
  display: inline-block;
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 21px;
}

.nac_artwork_grid a:before {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.nac_artwork_grid div {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 90%;
  height: auto;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  text-align: center;
}

.nac_credit {
  display: block;
  width: 100%;
  text-align: center;
  margin-bottom: 15px;
  margin-top: 0;
  font-size: 18px;
  line-height: 22px;
}

@media (max-width: 767.9px) {
  .nac_header h1 {
    font-size: 50px;
    line-height: 55px;
  }

  .flexible-container {
    padding-left: 30px;
    padding-right: 30px;
  }

  .nac_artwork_grid a {
    width: calc(100% / 2 - 14px);
  }
}

@media (min-width: 768px) and (max-width: 1024.9px) {
  .nac_header h1 {
    font-size: 65px;
    line-height: 69px;
  }

  .flexible-container {
    padding-left: 50px;
    padding-right: 50px;
  }

  .nac_artwork_grid a {
    width: calc(100% / 4 - 14px);
  }
}

@media (min-width: 1025px) {
  .nac_header h1 {
    font-size: 80px;
    line-height: 85px;
  }

  .flexible-container {
    padding-left: 70px;
    padding-right: 70px;
  }

  .nac_artwork_grid a {
    width: calc(100% / 6 - 14px);
  }
}
