.hero-text {
  justify-content: center;
  text-align: center;
  padding-top:21%;
  
}
/* Navigation bar----------------------------------------------------------------------------------------------*/
.nav {
  padding: 0px 20px 0px 20px;
}
.nav .navbar {
  display:flex;
  justify-content: space-between;
  top: 0;
  width: 100%;  
  align-items: center;
  overflow: hidden;
  font-family: "Michroma", sans-serif;
  font-size: 15px;  
}

.nav .navbar .title {
  float: left;
  display: flex;
  text-align: center;
  font-weight: bold;
  padding: 14px 16px;
  font-size: 20px;
  text-decoration: none;
}
.nav .navbar .title a {
  color: #bec6cd;

}

.nav .navbar .nav_items {
  display: flex;
  padding: 14px 16px;
}

.nav .navbar .nav_items ul {
  margin: 0;
  list-style-type: none;
}

.nav .navbar .nav_items ul li {
  float: right; 
}

.nav .navbar .nav_items ul li a {
  display: block;
  color: #bec6cd;
  text-align: center;
  padding: 0px 16px;
  text-decoration: none;
}

.nav .navbar .nav_items ul li a:hover:not(.active) {
  background-color: #bec6cd;
  color: #31405f;
}

/*----------------------------------------------------------------------------------------------------*/

button {
  border-radius: 4px;
  background-color: #bec6cd88;
  border: none;
  color: #FFFFFF;
  font-family: "Michroma", sans-serif;
  text-align: center;
  font-size: 20px;
  padding: 20px;
  width: 400px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 1px;
}

button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}
.button:hover {
  background-color:#ce8eaa;
}

button:hover span:after {
  opacity: 1;
  right: 0;
}
a {
  text-decoration:none;
  color:white;
}
a:visited {
  text-decoration:none;
  color:white;
}
a:active {
  text-decoration:underline;
  color:white;
}

/*----------------------------------------------------------------------------------------------------*/
#curatorsstatement h1 {
  font-family: "Michroma", sans-serif;
  font-weight: normal;
  text-align: center;
  color: #19506b;
  margin: 5%;
}
#curatorsstatement p {
  /*   background-color:#ca95a2; */
  padding: 0px 100px 1px;
  line-height: 1.6;
  font-family: "Michroma", sans-serif;
}
