@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap');

body {
  background: linear-gradient(167deg, #91a5f6 0%, #2b67c7 100%);
  font-family: 'Comfortaa', cursive;
  width: 95%;
  margin: 0 auto;
  text-align: center;
  padding-top: 50px;
  padding-bottom:100px;
}

h1 {
  color: white;
  padding: 40px 40px 0px;
  font-size: 8vw;
  font-weight: 900;
}

h2 {
  color: white;

  padding: 40px 40px 5px;
  font-size: 20px;
  font-weight: 900;
}

h3 {
  color: white;
  padding: 40px 40px 40px;
  font-size: 25px;
}

h4 {
  color: white;
  padding: 0px 40px 40px;
  font-size: 30px;
}

p {
  color: white;
  padding: 10px 40px 20px;
  text-align: left;
  line-height: 150%;
}

hr {
  width:90%;
  border: 1px solid white;
  margin:30px auto;
  text-align:center;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  transform: scale(1.3);
  transition: 0.5s;
}

img {
  padding: 5px;
}

.image_container {
  padding: 25px;
  text-align: center;
}

.social {
  padding: 0px 40px 20px;
}


#worklink-button {
  background-color: #ca97be;
  border-radius: 50px;
  padding: 8px 20px 8px;
  margin: 40px;
  font-size: 24px;
}
#worklink-button:hover {
  background-color: rgba( 202,151,190 , 0.5 );
  transition: 0.5s;
}

#nac-link:hover {
  color: pink;
  transition: 0.5s;
}



/* navigation menu */
.topnav {
  position: fixed;
  overflow: hidden;
  background-color: none;
  z-index: 2;
  font-family: 'Comfortaa', cursive;
  width: 100%;
}

.topnav a {
  float: left;
  color: rgba(255, 255, 255, 0.7);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 15px;
}

.topnav a:hover {
  text-shadow: 0px 0px 30px rgba(255, 255, 255, 0.5);
  transition: 0.5s;
  color: transparent;
}

.topnav a.active {
  color: #ffffff;
  text-decoration: underline;
}
