@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

body {
  overflow: hidden;
}

/* single page slide navigator */
.slick-dotted.slick-slider {
  overflow: hidden;
  margin-bottom: 0;
}

.slide {
  position: relative;
  height: 100vh;
  color: #fff;
  text-align: center;
  font-family: 'Fredoka One', cursive;
  display: block;
}

.slide h1 {
  font-size: 10vw;
  line-height: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.slide h2 {
  font-size: 7vw;
  line-height: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.slide h3 {
  font-size: 2vw;
  line-height: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.slide h4 {
  font-size: 4vw;
  line-height: 1;
  position: absolute;
  top:20%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.slide p {
  font-size: 2vw;
  line-height: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.slide a {
  font-size: 2rem;
  text-decoration: none;
  color: white;
  line-height: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.slide a:hover {
  transform: scale(1.3);
  color: yellow;
  transition: 0.5s;
}

.slick-vertical .slick-slide {
  background-color: #374a67;
  border: none;
}

.slick-vertical .slick-slide:nth-of-type(even) {
  background-color: #64718c;
}

.slick-dots {
  top: 50%;
  right: 0;
  transform: translateY(-50%) rotate(90deg);
  width: auto;
  bottom: auto;
}

.slick-dots li.slick-active button:before,
.slick-dots li button:before {
  color: white;
  font-size: 12px;
}

/* grid layout basic setting */
html, body, .grid-container {
  height: 100%;
  margin: 0;
}

/* page1 grid layout */
.grid-container {
  display: grid;
  grid-template-columns: 1.5fr 0.8fr 0.7fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
}

.main {
  grid-area: 1 / 1 / 3 / 2;
}

.zoom-link {
  grid-area: 1 / 2 / 2 / 3;
  background-color: pink;
}

.New-Art-City-link {
  grid-area: 2 / 2 / 3 / 3;
}

.art1 {
  grid-area: 1 / 3 / 2 / 4;
  background-color: orange;
}

.art2 {
  grid-area: 2 / 2 / 3 / 3;
  background-color: lightyellow;
}

.new-art-city- {
  grid-area: 2 / 3 / 3 / 4;
}

/* For presentation only, no need to copy the code below */
.grid-container * {
  /* border: 1px solid red; */
  position: relative;
}

.grid-container *:after {
  /* content:attr(class); */
  position: absolute;
  top: 0;
  left: 0;
}

/* artist page 01 grid layout */
html, body, .grid-container_artist1 {
  height: 100%;
  margin: 0;
}

.grid-container_artist1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "art3 art3 artist1 artist2 artist3"
    "art3 art3 artist4 artist5 artist6"
    "artist7 artist8 artist9 art4 art4"
    "artist10 artist11 artist12 art4 art4";
}

.art3 {
  grid-area: art3;
  background-color: pink;
}

.art4 {
  grid-area: art4;
  background-color: lightblue;
}

.artist1 {
  grid-area: artist1;
  background-color: lightblue;
}

.artist2 {
  grid-area: artist2;
}

.artist3 {
  grid-area: artist3;
  background-color: lightyellow;
}

.artist4 {
  grid-area: artist4;
  background-color: orange;
}

.artist5 {
  grid-area: artist5;
  background-color: cornflowerblue;
}

.artist6 {
  grid-area: artist6;
}

.artist7 {
  grid-area: artist7;
}

.artist8 {
  grid-area: artist8;
  background-color: lightyellow;
}

.artist9 {
  grid-area: artist9;
}

.artist10 {
  grid-area: artist10;
  background-color: lightblue;
}

.artist11 {
  grid-area: artist11;
  background-color: orange;
}

.artist12 {
  grid-area: artist12;
  background-color: cornflowerblue;
}

/* For presentation only, no need to copy the code below */
.grid-container_artist1 * {
  /* border: 1px solid red; */
  position: relative;
}

.grid-container_artist1 *:after {
  /* content:attr(class); */
  position: absolute;
  top: 0;
  left: 0;
}

/* artist page 02 grid layout */
html, body, .grid-container_artist2 {
  height: 100%;
  margin: 0;
}

.grid-container_artist2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "artist13 artist14 artist15 art5 art5"
    "artist16 artist17 artist18 art5 art5"
    "art6 art6 artist19 artist20 artist21"
    "art6 art6 artist22 artist23 artist24";
}

.art5 {
  grid-area: art5;
  background-color: lightyellow;
}

.art6 {
  grid-area: art6;
}

.artist13 {
  grid-area: artist13;
}

.artist14 {
  grid-area: artist14;
  background-color: pink;
}

.artist15 {
  grid-area: artist15;
  background-color: lightblue;
}

.artist16 {
  grid-area: artist16;
  background-color: cornflowerblue;
}

.artist17 {
  grid-area: artist17;
  background-color: orange;
}

.artist18 {
  grid-area: artist18;
}

.artist19 {
  grid-area: artist19;
  background-color: cornflowerblue;
}

.artist20 {
  grid-area: artist20;
  background-color: lightblue;
}

.artist21 {
  grid-area: artist21;
  background-color: pink;
}

.artist22 {
  grid-area: artist22;
  background-color: lightyellow;
}

.artist23 {
  grid-area: artist23;
  background-color: orange;
}

.artist24 {
  grid-area: artist24;
}

/* For presentation only, no need to copy the code below */
.grid-container_artist2 * {
  /* border: 1px solid red; */
  position: relative;
}

.grid-container_artist2 *:after {
  /* content:attr(class); */
  position: absolute;
  top: 0;
  left: 0;
}

/* work page grid layout */
html, body, .grid-container_work {
  height: 100%;
  margin: 0;
}

.grid-container_work {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "art7 works-listed works-listed works-listed"
    "art8 works-listed works-listed works-listed";
}

.art7 {
  grid-area: art7;
  background-color: lightblue;
}

.art8 {
  grid-area: art8;
}

.works-listed {
  grid-area: works-listed;
  background-color: orange
}

/* For presentation only, no need to copy the code below */
.grid-container_work * {
  /* border: 1px solid red; */
  position: relative;
}

.grid-container_work *:after {
  /* content:attr(class); */
  position: absolute;
  top: 0;
  left: 0;
}
