@import "https://fonts.googleapis.com/css?family=Lato:100";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 10px;
  font-family: "Lato", Arial, sans-serif;
}

section{
  width: 100%;
  height: 100%vh;
  color: #fff;
  background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
  background-size: 400% 400%;
  position: relative;
  animation: change 10s ease-in-out infinite; 
}

h1{
  font-size: 5rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  border: 3px solid #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 5rem 10rem;
}

@keyframes change {
  0%{
    background-position: 0 50%;
  }
  50%{
    background-position: 100% 50%;
  }
  100%{
    background-position: 0 50%
  }
}
